



body {
  background: #2d3339
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	padding: 15px 10px
}

nav a.selected, nav a:hover {
  color: #32673f;

 }

/* Header CSS */

header {
	height: 300px;
	background: white;
}

h1 {
	font-family: 'MyWebFont', Arial, sans-serif;
	font-size: 90px;
	color: #d9d9d9;
	padding-top: 15px;
	text-decoration: none;
}

h2, h3 {
	font-size: 45px;
	color: #d9d9d9;
	text-align: center;
}

/* navagation */

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

.logo {
	text-align: center;
	margin: auto;
}


/* Body of page */

#home {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	text-decoration: none;
}


}

/* Footer CSS */

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: white;
}



/****************
News/Homepage
****************/


.homeImage {
	max-width: 100%;
	list-style: none;




/****************
Current Works
****************/



#imageGallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#imageGallery li {
	float: left;
	margin: 2.5%;
	width: 25%;
	margin: 2.5%;
}
















